@import "vars/global";
@import "reset";
@import "theme/default";
@import "theme/purple";
body {
  font-size: var(--font-size-m);
  line-height: var(--font-line-m);
  font-family: var(--font-family-main), serif;
  color: var(--theme-primary);
  background-color: var(--theme-bg);
  font-weight: 400;
}
.app {
  min-height: 100dvh;
  background-color: var(--theme-bg);
  width: 100%;
  display: flex;
  .content {
    padding: 12px;
    display: flex;
    flex: 1 auto;
    flex-direction: column;
  }
  .wrapper-pages {
    width: 100%;
    height: 100%;
    color: var(--theme-primary);
  }
}
* {
  transition: ease 0.5s;
  transition-property: color, background-color;
}
iframe {
  display: none;
}
