@import "../vars/global";
.app.purple {
  --theme-bg:var(--black);
  --theme-bg-block:var(--black-light);
  --theme-text-white:var(--white);
  --theme-gray:var(--gray);
  --theme-primary:var(--blue);
}
