.common {
  background-color: transparent;
  border: 2px solid var(--theme-gray);
}
.primary {
  background: var(--theme-primary);
  border-radius: 8px;
}
.btn_app {
  padding: 15px;
  color: var(--theme-text-white);
  margin: 2px;
  border: none;
}
