.page {
  font-size: 32px;
  line-height: 40px;
  font-weight: 500;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: var(--theme-primary);
  p {
    text-align: center;
  }
}
